body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Josefin Sans', sans-serif;
}
html {
	overflow-y: scroll;
}
#Site {
	width: 800px;
}
.HeaderSystem {
	text-align: left;
	background: url('/assets/images/Cult-Header.jpg');
	background-repeat: no-repeat;
	width: 800px;
	height: 450px;
}
.Menu {
	position: relative;
    top: 150px;
    left: 25px;
}
.MenuItem {
	font-size: 20px;
	font-weight: bold;
	font-variant: small-caps;
	margin-bottom: 10px;
	cursor: pointer;
}
.Content {
	position: relative;
    width: 550px;
    left: 215px;
    top: 50px;
}
.Title {
	font-size: 18px;
	color: #fff68f;
	font-weight: bold;
	font-variant: small-caps;
	border-bottom: 1px solid #FFFFFF;
	padding-bottom: 2px;
	width: 99%;
}
.Info {
	margin-top: 10px;
	margin-left: 10px;
}
/* Chracter */

.CharacterBlock {
	padding: 5px;
	width: 200px;
	margin: 5px 30px 5px 30px;
	display: inline-block;
}
.CharacterName {
	font-size: 16px;
	color: gold;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	margin-bottom: 2px;
}
.CharacterImg {
	border-radius: 6px;
	-moz-border-radius: 6px;
	border: 1px solid #fff68f;
	width: 150px;
	height: 150px;
	cursor: pointer;
}



