<template>
	<div>
		<center>
			<div id="Site">
				<div class="HeaderSystem">
					<div class="Menu">
						<div class="MenuItem" @click="switchTab(1)">About</div>
						<div class="MenuItem" @click="switchTab(2)">Characters</div>
					</div>
					<div class="Content">
						<div v-if="Tab == 1">
							<div class="Title">About The Cult</div>
							<div class="Info">About the Cult description.</div>
						</div>
						<div v-if="Tab == 2">
							<div class="Title">Cult Characters</div>
							<div class="CharacterBlock" v-for="(img, character, desc) in characters">
								<div class="CharacterName">{{character}}</div>
								<center>
									<img :src="'/assets/images/'+img" class="CharacterImg" />
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</center>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				characters: {
					'Kai Anderson':'Evan.png',
					'Ally Mayfair-Richards':'Sarah.png',
					'Dr. Rudy Vincent':'Cheyenne.png',
					'Winter Anderson':'Billie.png',
					'Ivy Mayfair-Richards':'Allison.png'
				},
				Tab: 1,

			};
		},
		ready() {
			this.prepareComponent();
		},
		mounted() {
			this.prepareComponent();
		},
		methods: {
			prepareComponent() {

			},
			switchTab(x) {
	    		this.Tab = x;
			}
		}
	}
</script>


