<template>
    <div>
        <h3>fuck shit, world!</h3>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>