<template>
    <div class="Menu">
		<div class="MenuItem" v-on:click="Tab == 1">About</div>
		<div class="MenuItem" v-on:click="Tab == 2">Characters</div>
	</div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>